
<!DOCTYPE html>
<html>

   <head>
      <title>Exercise Tracker API Project</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1 style="text-align:center; padding-bottom: 1%;">Exercise tracker</h1>
          <form action="/api/exercise/new-user" method="post">
            <h3>Create a New User</h3>
            <p><code>POST /api/exercise/new-user</code></p>
            <input id="uname" type="text" name="username" placeholder="username">
            <input type="submit" value="Submit">
          </form>
          <form action="/api/exercise/add" method="post">
            <h3>Add exercises</h3>
            <p><code>POST /api/exercise/add</code></p>
            <input id="uid" type="text" name="userId" placeholder='userId*'>
            <input id="desc" type="text" name="description" placeholder="description*">
            <input id="dur" type="text" name="duration" placeholder="duration* (mins.)">
            <input id="dur" type="text" name="date" placeholder="date (yyyy-mm-dd)">
            <input type="submit" value="Submit">
          </form>
          <div id="doc">
            <h1>API Usage: </h1>
            <h4>Create a New User</h4>
            <p>Create a username (20 characters max), and we provide you an object like: <code>{"username":"kelechi", "_id":"SyC_22BsN"}</code></p>
            <h4>Add exercises</h4>
            <p>Login in with your _id <code>"SyC_22BsN"</code> and complete form in the appropriate format.</p>
          </div>
      </div>
   </body>

</html>
